body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#Navigation {
  background-color: coral;
  width: 100%;
  height: 60px;
}

#CentralContent{
  background-color: crimson;
}
#RightNav {
  background-color: darkcyan;
}
#LeftNav {
  background-color: darkcyan;
}

#Footer { 
  background-color: cornsilk;
}