card {
  padding: 10px;
  margin: 10px;
  margin-right: 0px;
  width: 278px;
}
.cardContent {
  height: 1100px;
}
.card-body {
  padding: 15px;
  width: 250px;
}
.card-title {
  height: 20px;
}
.card-text {
  height: 25px;
  margin: 5px;
  margin-bottom: 10px;
}
